<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>
.litediv{
    background-color: red;
}
.darkdiv{
    background-color: black;
}
.headline{
    color: black;
    background-color: red;
}
</style>
<body>
<div class="headline">
    <h1>**** Checkerboard  *****</h1>
</div>
<div class="d-flex">
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
</div>
<div class="d-flex">
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
</div>
<div class="d-flex">
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
</div>
<div class="d-flex">
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
</div>
<div class="d-flex">
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
</div>
<div class="d-flex">
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
</div>
<div class="d-flex">
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
    <div class="litediv"></div><div class="darkdiv"></div>
</div>
<div class="d-flex">
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
    <div class="darkdiv"></div><div class="litediv"></div>
</div>
</body>
</html>