<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Checkerboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>
.color0{
    background-color: {{ color0 }};
}
.color1{
    background-color: {{ color1 }};
}
.headline{
    color: {{ color1 }};
    background-color: {{ color0 }};
}
</style>
<body>
<div class="headline">
    <h1>**** Checkerboard  *****</h1>
</div>
{% for i in range (y): %}
    <div class="d-flex">
        {% for j in range (x): %}
        <div class="color{{  (i+j) %2 }}"></div>
        {% endfor %}
    </div>
{% endfor %}
</body>
</html>