<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a User</title>
</head>
<body>
    <h1>Update a user</h1>
    <h4 align="right"><a href="/">Home</a></h4>
    <form action="/users/{{ user.id }}/update" method="post">
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" value={{ user.first_name }}>
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" value={{ user.last_name }}>
        </div>
        <div>
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" value={{ user.email }}>
        </div>
        <div>
            <button>Update User</button>
        </div>
            <input type="hidden" name="id" id="id" value={{ user.id }}>
    </form>
    <h4><a href="/users/{{ user.id}}">Show User</a></h4>
</body>
</html>